* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



::-webkit-scrollbar {
    background-color: black;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #9a2afd;
    border-radius: 15px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-color: black;
}
.audio {
    background-color: black;
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
    z-index: -1; /* Para garantir que as partículas fiquem atrás do conteúdo */
}

main {
    position: relative;
    z-index: 1; 
}


body {
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: none;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

header > a > img {
    width: 250px;
    animation: float 2s infinite;
}

@keyframes float {
    0% {
        transform: translatey(10px);
    }
    50% {
        transform: translatey(0px);
    }
    100% {
        transform: translatey(10px);
    }
}

main {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 8px;
    transition: 0.3s linear;
    cursor: pointer;
    animation: op 2s linear;
    border: 1px #9a2afd solid;
}

@keyframes background {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0%;
    }
}

@keyframes op {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 23%;
    }
    100% {
        opacity: 100%;
    }
}

.card:hover {
    transform: scale(1.1);
}

.card > img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid #9a2afd;
    padding: 5px;
}
.card > h1 {
    font-size: 20pt;
    color: #9a2afd;
    text-shadow: 0px 0px 5px #9a2afd;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: white;
    text-shadow: 0px 0px 5px white;
    font-weight: bolder;
}


.audio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

input[type = button] {
    padding: 20px;
    width: 250px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20pt;
    transition: 0.2s;
    cursor: pointer;
}

input[type = button]:hover {
    transform: scale(1.1);
    border: 1px solid #9a2afd;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9a2afd;

}
@media screen and (width < 768px) {
    main {
       display: none;
    }

    .card {
        padding: 10px;
    }
}